{{ define "main" }}
<section class="hero">

    <div class="hero__container">
        {{ partial "components/availability.html" . }}

        <h4 class="hero__header">
            Omoo! Studio is a design and technology studio that brings brands to life on the web. Based in Nigeria,
            we
            create beautiful, performant websites for a wide range of individuals and organizations near and far.
        </h4>

        <div class="hero__image">
            <img src="/images/hero-image1.png" alt="">
        </div>
    </div>

    <!--

    <div class="hero__animation">
        <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_eVNH5UbPmO.json" background="transparent"
            speed="1" style="width: 160px; height: 160px;" loop autoplay></lottie-player>

        <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_kp9tybbc.json" background="transparent"
            speed="1" style="width: 160px; height: 160px;" loop autoplay></lottie-player>

        <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_gvzjzuar.json" background="transparent"
            speed="1" style="width: 160px; height: 160px;" loop autoplay></lottie-player>
    </div>
    -->

</section>

<section class="about">

    <div class="about__header">
        <h2>about us</h2>

        <p class="about__description">
            At Omoo!, we are passionate about creating an exceptional web experience combined with visually stunning
            user-friendly websites that drive results.

            Utilizing minimalism is a core tenet of our strategy, and we believe in the power of simplicity to enhance
            user
            engagement and convey impactful messages.

            We work with your idea for your product or business service. We design the user interface for your website
            and
            related assets — We also develop your website, creating a digital safe space for users of your product.
        </p>
    </div>

    <div class="about__details">
        <h6>Founded 2002</h6>
        <h6>7+ Design Projects</h6>
        <h6>10+ Web Dev Projects</h6>
        <h6>Founded 2002</h6>
    </div>
</section>

<section class="work">
    <div class="work__header">
        <div class="work__header--title">
            <h2>work</h2>
            <p>
                At Omoo!, we are passionate about creating an exceptional web experience combined with visually stunning
                user-friendly websites that drive results.

                Utilizing minimalism is a core tenet of our strategy, and we believe in the power of simplicity to
                enhance
                user
                engagement and convey impactful messages.
            </p>
        </div>

        <div class="work__header--animation">
            <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_s8pnamxa.json" background="transparent"
                speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player>
        </div>
    </div>

    <div class="work__list">
        <div class="work__item">
            <h5>
                01
            </h5>

            <h4>
                brand name
            </h4>

            <div class="work__details">
                <a href="">
                    user interface
                </a>
                <a href="">
                    website
                </a>
            </div>
        </div>
        <div class="work__item">
            <h5>
                02
            </h5>

            <h4>
                brand name
            </h4>

            <div class="work__details">
                <a href="">
                    user interface
                </a>
                <a href="">
                    website
                </a>
            </div>
        </div>
        <div class="work__item">
            <h5>
                03
            </h5>

            <h4>
                brand name
            </h4>

            <div class="work__details">
                <a href="">
                    user interface
                </a>
                <a href="">
                    website
                </a>
            </div>
        </div>
        <div class="work__item">
            <h5>
                04
            </h5>

            <h4>
                brand name
            </h4>

            <div class="work__details">
                <a href="">
                    user interface
                </a>
                <a href="">
                    website
                </a>
            </div>
        </div>
    </div>

    <div class="work__viewProjects">
        <a href="">
            view all work
        </a>
    </div>

</section>

<section class="services">

    <div class="services__header">
        <h2>our services</h2>
    </div>

    <div class="services__list">
        <div class="services__item">
            <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_gvzjzuar.json" background="transparent"
                speed="1" style="width: 160px; height: 160px;" loop autoplay></lottie-player>

            <h5>user interface design</h5>

            <p>
                <span>01</span> - Our design and development team work together using the latest technologies to craft
                eco-friendly,
                responsive and aesthetically-appealing websites.
            </p>

        </div>
        <div class="services__item">
            <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_51hxjnkl.json" background="transparent"
                speed="1" style="width: 160px; height: 160px;" loop autoplay></lottie-player>

            <h5>No-code Development</h5>

            <p>
                <span>02</span> - Our design and development team work together using the latest technologies to craft
                eco-friendly,
                responsive and aesthetically-appealing websites.
            </p>

        </div>
        <div class="services__item">
            <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_eVNH5UbPmO.json" background="transparent"
                speed="1" style="width: 160px; height: 160px;" loop autoplay></lottie-player>

            <h5>Custom Web Development</h5>

            <p>
                <span>03</span> - Our design and development team work together using the latest technologies to craft
                eco-friendly,
                responsive and aesthetically-appealing websites.
            </p>

        </div>
        <div class="services__item">
            <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_jzookd5v.json" background="transparent"
                speed="1" style="width: 160px; height: 160px;" loop autoplay></lottie-player>

            <h5>Consultancy</h5>

            <p>
                <span>04</span> - Our design and development team work together using the latest technologies to craft
                eco-friendly,
                responsive and aesthetically-appealing websites.
            </p>

        </div>
    </div>
</section>

<section class="contact">
    <div class="contact__header">
        <h2>contact us</h2>
    </div>

    <div class="contact__list">
        <div class="contact__item">
            <p>
                How we can be of service?
                Fill out the project order form or send an email to sales@omoo.studio
            </p>

            <a href="">
                <img src="/images/arrow.svg" alt="arrow">
            </a>
        </div>
        <div class="contact__item">
            <p>
                Do you want to get in touch ASAP?
                Schedule an online meeting with this link meeting @omoo.studio
            </p>

            <a href="">
                <img src="/images/arrow.svg" alt="arrow">
            </a>
        </div>
        <div class="contact__item">
            <p>
                We are always looking to expand our network.
                Join us on Slack if you are a designer or developer.
                slack@omoo.studio
            </p>

            <a href="">
                <img src="/images/arrow.svg" alt="arrow">
            </a>
        </div>
    </div>
</section>

<section class="copyright">
    <p>© 2023 Omoo! Studio</p>
    <div>
        <a href="">Privacy Policy</a>
        <a href="">/Legal</a>
    </div>
</section>
{{ end }}