<header class="header">
    <nav class="header__nav">
        <img src="/images/logo.svg" alt="logo" width="80" height="60">
        <img class="header__menu" src="/images/menu.svg" alt="menu" width="40" height="8">

        <div class="header__links">
            <a href="">about</a>
            <a href="">work</a>
            <a href="">services</a>
            <a href="">contact</a>
            <div>
                <a href="">order project</a>
            </div>
        </div>
    </nav>
</header>