.header {
  background-color: $white;
  border-bottom: 1px solid $dark-grey;
  @include _4dp-penumbra;

  &__nav {
    max-width: var(--grid-max-width);
    padding-inline: var(--grid-gutter);
    padding-block: var(--space-xs-s);
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__links {
    display: none;
  }

  @media only screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    &__menu {
      display: none;
    }

    &__links {
      display: flex;
      column-gap: 2rem;

      a {
        font-size: var(--step-0);
        text-transform: capitalize;
      }

      div {
        a {
          border-radius: 4rem;
          border: 1px solid $dark-grey;
          padding: 0.4rem 1.6rem;
          font-weight: 500;
        }
      }
    }
  }
}
