{{ define "main" }}
<section class="bg-gray-100 dark:bg-gray-900 py-8">
    <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
        <div class="mr-auto place-self-center lg:col-span-7">
            <h1
                class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white">
                Europe born global cybersecurity champions</h1>
            <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">We
                partner with European Founders to build and scale global cybersecurity
                champions.</p>

            <div class="grid lg:flex">

                <div class="max-w-sm bg-gray-100 pb-8">
                    <a href="#" class="px-0.5">
                        <img class="rounded-t-lg" src="/images/home.svg" alt="" />
                    </a>
                    <div class="">
                        <a href="#">
                            <h5 class="mb-2 text-l font-bold tracking-tight text-gray-900 dark:text-white">Become a
                                Founder</h5>
                        </a>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Join CyGO Entrepreneurs as an
                            Entrepreneurin-Residence to create the future of
                            cybersecurity with us.</p>
                        <a href="#"
                            class="inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Apply now
                            <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="bg-gray-200 rounded-lg dark:bg-gray-600 p-0.5 mx-4"></div>
                <div class="max-w-sm bg-gray-100 px-4">
                    <a href="#" class="px-0.5">
                        <img class="rounded-t-lg" src="/images/groups.svg" alt="" />
                    </a>
                    <div class="">
                        <a href="#">
                            <h5 class="mb-2 text-l font-bold tracking-tight text-gray-900 dark:text-white">Join
                                "CyberBuilders"</h5>
                        </a>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Join CyGO Entrepreneurs as an
                            As a security practitioner or cybersecurity
                            product and service builders, we welcome
                            your expertise and views.</p>
                        <a href="#"
                            class="inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-black border rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">

                            <img src="/images/email.svg" alt="" class="w-3.5 h-3.5 mr-2" aria-hidden="true">

                            Subscribe to Cyber Builders Newsletter
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <div class="hidden lg:col-span-5 lg:flex">

            <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/phone-mockup.png" alt="mockup">
        </div>
    </div>
</section>
{{ end }}